@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
    font-family: SF Pro Display-Bold;
    src: local(SF-Pro-Display-Bold), url(fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: SF Pro Display-Medium;
    src: local(SF-Pro-Display-Medium), url(fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
    font-family: c;
    src: local(SpaceMono-Bold), url(fonts/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: Space Mono-Regular;
    src: local(SpaceMono-Regular), url(fonts/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: SF Pro Rounded-Regular;
    src: local(SF-Pro-Rounded-Regular), url(fonts/SF-Pro-Rounded-Regular.otf);
}
@font-face{
    font-family: Dalek Pinpoint-Bold;
    src: local(DalekPinpointBold), url(fonts/DalekPinpointBold.ttf);
}

*{
    padding: 0;
    margin: 0;
    width: auto;
}

.areas-container{
    margin-top: 50px;
}
.area-conteudos{
    padding: 15px;
}
.row1 {
    display: flex;
}
.ongs-all-container{
    align-items: center;
    width: 1170px;
    height: 540.541px;
    flex-shrink: 0;
}
.column1 {
    flex: 25%;
    padding: 5px 5px 20px;
}
.area-texto-principal{
    margin-bottom: 25px;
}
.h1-texto{
    color: #0C0C0C;
    font-family: Space Mono;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.linha{
    display: flex;
    flex-flow: row wrap;
}
.causa-animal{
    margin-top:30px;
    margin-left: 50px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-animal-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    /* Texto-header-categorias */
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-saude{
    margin-top:30px;
    margin-left: 50px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-saude-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    /* Texto-header-categorias */
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-direitos-humanos{
    margin-top:-290px;
    margin-left: 450px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-direitos-humanos-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-educacao{
    margin-top:30px;
    margin-left: 450px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-educacao-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-lgbt{
    margin-top:-293px;
    margin-left: 950px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-lgbt-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-ajuda-humanitaria{
    margin-top:30px;
    margin-left: 950px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-ajuda-humanitaria-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.acoes-header{
    margin-left: 170px !important;
    margin-top: -30px;
}
.button-criar-entrar{
    width: 78px;
    height: 38.869px;
    margin-top: -15px !important;
    margin-left: 1150px;
    border: none;
    border-radius: 2px;
    background: #0D43FC;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.perfil-texto-criarconta{
    width: 76px;
    height: 17px;
    padding-top: 13px;
    padding-left: 1000px;
    color: #272727;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.site-abertura{
    width: auto;
    height: 613.394px;
    border-radius: 0px 0px 15px 15px;
}
.img-site-abertura {
    margin-top: -10px;
    width: 1519px;
    height: 620px;
    border-radius: 0px 0px 15px 15px;
}
.div-botoes{
    padding: 0; !important;
    margin: 0;
}
.div-botao-entrar{
    margin-top: -15px;
}
.btn-criar-entrar{
    margin-left: 1110px;
    width: 187px;
    height: 57px;
    padding: 10px 25px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #0D43FC;
    background: #0D43FC;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}