@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
    font-family: SF Pro Display-Bold;
    src: local(SF-Pro-Display-Bold), url(fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: SF Pro Display-Medium;
    src: local(SF-Pro-Display-Medium), url(fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
    font-family: c;
    src: local(SpaceMono-Bold), url(fonts/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: Space Mono-Regular;
    src: local(SpaceMono-Regular), url(fonts/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: SF Pro Rounded-Regular;
    src: local(SF-Pro-Rounded-Regular), url(fonts/SF-Pro-Rounded-Regular.otf);
}
@font-face{
    font-family: Dalek Pinpoint-Bold;
    src: local(DalekPinpointBold), url(fonts/DalekPinpointBold.ttf);
}

*{
    padding: 0;
    margin: 0;
    width: auto;
}
.gb-banner{
    margin-top: 50px;
}
.gb-banner-img{
    width: 1300px;
    height: 300px;
    border-radius: 15px;
}
.areas-container{
    margin-top: 80px;
}
.area-bg{
    margin-left: 114px;
    width: 1300px;
    height: 400px;
    border-radius: 15px;
    background: #0D43FC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.area-conteudos{
    padding: 15px;
}
.titulo-conteudos{
    margin-left: 450px;
    color: #FCFC2F;
    font-family: Space Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.linha{
    display: flex;
    flex-flow: row wrap;
}
.causa-animal{
    margin-top:30px;
    margin-left: 50px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-animal-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    /* Texto-header-categorias */
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.causa-saude{
    margin-top:30px;
    margin-left: 50px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-saude-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    /* Texto-header-categorias */
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.causa-direitos-humanos{
    margin-top:-290px;
    margin-left: 470px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-direitos-humanos-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.causa-educacao{
    margin-top:30px;
    margin-left: 470px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-educacao-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.causa-lgbt{
    margin-top:-293px;
    margin-left: 950px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-lgbt-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.causa-ajuda-humanitaria{
    margin-top:30px;
    margin-left: 950px;
    width: 274px;
    height: 131.825px;
    flex-shrink: 0;
}
.causa-ajuda-humanitaria-txt{
    padding: 25px;
    color: #FCFC2F;
    text-align: center;
    font-family: SF Pro Rounded;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.area-ongs-bg{
    margin-top: 50px;
    width: 1300px;
    height: 1125px;
    border-radius: 15px;
    background: #0D43FC;
}
.area-conteudos-ongs{
    padding: 15px;
}
.container-conteudos-titulo-ongs{
    padding: 15px;
}
.titulo-ongs{
    color: #FFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.row1 {
    display: flex;
}
.column1 {
    flex: 33.33%;
    padding: 5px 5px 20px;
}
.seletor-pagina{
    margin-top: 35px;
    width: 250px;
    height: 21px;
    flex-shrink: 0;
}
.txt-seletor-pagina-select{
    margin: 5px;
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.txt-seletor-pagina{
    margin: 5px;
    color: #FCFC2F;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}