<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>VM1 - HEADER</title>
    <meta charset="UTF-8">
    <meta name="author" content="Kawã Bazante">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon-vt.png">
    <link rel="stylesheet" href="cabecalho-template.css">
    <script src="https://kit.fontawesome.com/9cdb7b0b74.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="general-container">
    <!--        COPIAR DESSE PONTO-->
    <header>
        <div class="header-container">
            <div class="header-bg">
                <div class="header-conteudos">
                    <div class="header-img">
                        <a href="index.html"><img src="./img/Fundacao-Yeba-logo.png" alt="logo-festival" class="header-img"></a>
                    </div>

                    <div class="menu-principal-txt">
                        <a href="index.html" class="link-texto">Ongs</a> &nbsp; &nbsp; <a href="transparencia.html" class="link-texto">Trânsparencia</a> &nbsp; &nbsp; <a href="https://fy-trabalhe-conosco.mynotice.io/" class="link-texto">Carreiras</a> &nbsp; &nbsp;</a>
                    </div>

                    <a href="perfil.html">
                        <div class="minha-conta">
                            <div class="icon-menu">
                                <i class="fa-solid fa-user fa-2xl" style="color: #0d43fc;"></i>
                            </div>
                            <h5 class="perfil-texto">Minha conta</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
<!--ATÉ A LINHA DE CIMA-->

    <div style="text-align: center; margin: 300px"><h1>ESSE SITE É DE USO EXCLUSIVO DOS DESENVOLVEDORES</h1></div>

</div>
</body>
</html>