<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>VM1 - HEADER</title>
    <meta charset="UTF-8">
    <meta name="author" content="Kawã Bazante">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon-vt.png">
    <script src="https://kit.fontawesome.com/9cdb7b0b74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="footer-template.css">
</head>
<body>
<div class="general-container">
    <div style="text-align: center; margin: 300px"><h1>ESSE SITE É DE USO EXCLUSIVO DOS DESENVOLVEDORES</h1></div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-backgroud">
            <div class="linhas-footer">
                <div class="coluna-esquerda-footer">
                    <h1 class="titulo-footer-geral">Fundação Yebá</h1>
                    <a target="_blank" href="https://infoyeba.mynotice.io/direitos-autorais-fc788jk2x6">
                        <h3 class="juridico-itens">
                            Direitos autorais
                        </h3>
                    </a>

                    <a target="_blank" href="https://infoyeba.mynotice.io/disclaimer-4hshb2c3j7">
                        <h3 class="juridico-itens">
                            Disclaimer
                        </h3>
                    </a>

                    <a target="_blank" href="https://infoyeba.mynotice.io/transparencia-d132rjw5pz">
                        <h3 class="juridico-itens">
                            transparência
                        </h3>
                    </a>

                    <a target="_blank" href="hhttps://infoyeba.mynotice.io/entre-em-contato-com-a-fundacao-yeba-5xtvsb2q6p">
                        <h3 class="juridico-itens">
                            fale conosco
                        </h3>
                    </a>

                    <a target="_blank" href="https://fy-trabalhe-conosco.mynotice.io/">
                        <h3 class="juridico-itens">
                            carreiras
                        </h3>
                    </a>

                    <a target="_blank" href="https://infoyeba.mynotice.io/conheca-nossa-equipe-z7n447q762">
                        <h3 class="juridico-itens">
                            nossa equipe
                        </h3>
                    </a>
                </div>

                <div class="coluna-direita-footer">

                    <h1 class="titulo-footer-social">Social</h1>
                    <div class="social-icons">

                        <a target="_blank" href="https://instagram.com/fundacaoyeba">
                            <i class="fa-brands fa-instagram fa-2xl" style="color: #0d43fc;"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/fundacaoyeba">
                        <h3 class="social-itens">
                            <i class="fa-brands fa-linkedin fa-2xl" style="color: #0d43fc;"></i>
                        </h3>
                    </a>

                        <a target="_blank" href="https://www.facebook.com/fundacaoyeba">
                        <h3 class="social-itens">
                            <i class="fa-brands fa-facebook-f fa-2xl" style="color: #0d43fc;"></i>
                        </h3>
                    </a>

                        <a target="_blank" href="https://www.youtube.com/@funcaoyeba">
                        <h3 class="social-itens">
                            <i class="fa-brands fa-youtube fa-2xl" style="color: #0d43fc;"></i>
                        </h3>
                    </a>
                    </div>

                    <h3 class="copy-final">&copy; Esse site, bem como sua logo e tudo que cerca a Fundação Yebpa é de fictício,<br> criado apenas para fins educacionais.</h3>

                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>